.images-wrapper {
    flex-direction: column;
}
.images {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
img.img-fluid.images {
    height: 80px;
    margin-top: 10px;
    border: 1px solid black;
    margin-left: 80px;
}
.hrtag {
    width: 80px;
    margin-left: 20px;
}
#newhr {
    height: 2px;
    width: 80px;
    background-color: bisque;
}
.tab {
    cursor: pointer;
  }
  
  .tab.active {
    font-weight: bold;
  }
  
  #content > div:not(.active) {
    display: none;
  }
  
  @media (min-width: 1162px) {
    
    .images {
      margin-right: 20px;
      margin-bottom: 0;
    }
    #main-image{
        margin-left: 20px;
    }
  }
  
  @media (min-width: 1152px) {
    
    .images {
      margin-right: 20px;
      margin-bottom: 0;
    }
    #main-image{
        margin-left: 10px;
    }
  }
  @media (min-width: 768px) {
    .images-wrapper {
      flex-direction: row;
    }
  
    .images {
     
      margin-right: 10px;
      margin-bottom: 0;
    }
  }
  @media (min-width: 1140px) {
    
    .images {
      margin-right: 20px;
      margin-bottom: 0;
    }
    #main-image{
        margin-left: 10px;
    }
  }
  @media (min-width: 1120px) {
    
    .images {
      margin-right: 20px;
      margin-bottom: 0;
    }
    #main-image{
        margin-left: 10px;
    }
  }
  @media (min-width: 1100px) {
    
    .images {
      margin-right: 20px;
      margin-bottom: 0;
    }
    #main-image{
        margin-left: 30px;
    }
  }
  @media (min-width: 800px) {
    
    .images {
      margin-right: 20px;
      margin-bottom: 0;
    }
    #main-image{
        margin-left: 50px;
    }
  }
  @media only screen and (max-width: 860px) {
    .description {
      flex-direction: column;
    }
  }
  .price-tag {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  
  .newborder{
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    margin-left: 5px;
}
.circle-container {
  display: flex;
  
  align-items: center;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px;
}

.circle-1 {
  background-color: red;
}

.circle-2 {
  background-color: green;
}

.circle-3 {
  background-color: blue;
}
.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* max-width: 500px; */
  margin: 0 auto;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 20px;
  padding-bottom: 20px;

}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.quantity button {
  background-color: #ccc;
  border: none;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.quantity input {
  width: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #ccc;
}

.add-to-cart {
  background-color: rgb(9, 9, 158);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 100px;
}

.buy-now {
  background-color: green;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 40px;
}

.question-mark {
  background-color: rgb(199, 67, 15);
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.container10
{
  padding-left: 120px;
  padding-right: 120px;
}
.tag-div {
  margin-top: 10%;
  /* display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f2f2f2;
  width: 300px; */
}

/* .tags-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
} */

.tag {
  background-color: #eee;
  color: #333;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  /* border: 1px solid #ccc; */
}
table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #eee;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  font-weight: bold;
}
#full-hr{
  height: 2px;
 background-color:gray;
}
.green{
  color: rgb(10, 170, 50);
}
.red{
  color: red;
}
#message{
  padding: 2% 20%;
}
#name{
  padding: 1% 18%;
}
#file-upload-link {
    display: block;
    background-color: rgb(5, 5, 151);
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: center;
  }
  input[type="date"], input[type="time"], input[type="datetime-local"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
.red{
  color: red;
  font-size: 42px;
}
@media(max-width:1641px)
{
 .article-heading {
  font-size: 20px;
}
}
@media(max-width:1545px)
{
  .container10
  {
    /* padding-left: 0px; */
    padding-right: 78px;
    text-align: center;
  }
 .articles{
    margin-left: -14%;
    margin-right: 7%;
 } 
}

@media(min-width:1100px)
{
 .articles .article{
  margin-left: -90px;
    margin-right: -13px;
    padding-left: 1px;
    padding-right: 15px;
 } 
}
@media(max-width:1220px)
{
  .articles .article
  {
    font-size: 10px;
  }
}
@media(max-width:1269px)
{
  .desc-box{
  background-color: red;
  display: block;

}
}
/* 
.tab-content {
  justify-content: space-around;
  flex-wrap: wrap;
} */

/* div#myTabContent .contentss {
  margin-left: -25%;
} */
@media(max-width: 1260px)
{
.description-box
{
  display: block;
  margin-right: -88%;
   overflow-x: hidden;
}

}
#home-tab,#profile-tab,#contact-tab,#about-tab{
  font-size: 22px;
}
@media(max-width: 768px)
{
.description-box
{
  margin-right: 0%;

}
}
@media(max-width:1500px)
{
  .container10
  {
    padding-left: 0%;
    padding-right: 0%;
  }
}
